# Fraud Detection Model Development

**Objective:** Build production-ready anomaly detection models for fraud detection

## 1. Data Loading

In [1]:
import pandas as pd

df = pd.read_csv('transactions.csv')
print(f"Dataset shape: {df.shape}")
print(f"\nFraud rate: {df['is_fraud'].mean():.2%}")
df.head()

Dataset shape: (100000, 15)

Fraud rate: 2.00%

,transaction_id,customer_id,card_number,timestamp,amount,merchant_id,merchant_category,merchant_lat,merchant_long,is_fraud,fraud_type,hour,day_of_week,month,distance_from_home
0,TXN_00000000,CUST_00861,CARD_18969,2025-08-20T00:23:18Z,3117.77,MERCHANT_255,electronics,22.7890,88.6956,1,account_takeover,0,2,8,36.03
1,TXN_00000001,CUST_03773,CARD_96975,2025-09-13T21:39:57Z,840.86,MERCHANT_212,electronics,13.0835,77.4841,0,none,21,5,9,5.07
2,TXN_00000002,CUST_03093,CARD_39004,2025-09-05T12:25:30Z,4070.50,MERCHANT_577,luxury_goods,18.6067,72.4481,1,merchant_collusion,12,4,9,15.60
3,TXN_00000003,CUST_00467,CARD_83329,2025-06-20T12:58:11Z,1176.75,MERCHANT_472,grocery,28.3219,76.7205,0,none,12,4,6,8.62
4,TXN_00000004,CUST_04427,CARD_75134,2025-07-28T19:38:56Z,306.80,MERCHANT_486,gas,28.3160,76.6884,0,none,19,0,7,15.82